*{
    margin: 0px;
    padding: 0px;
}
.form-container{
    width: 35%;
    height: fit-content;
    margin: 3% 10%;
    background-color: white;
    padding: 3% ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-small{
    font-size: 12px;
}
.w-10{
  text-align: center;
  background-color: white;
  width: 10%;
  padding: 0px 15px 5px 5px !important;
  font-size: 15px;
}
.input-w{
    width: 65%;
    border-right: none;
}
i{
    color: #4976BA    ;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 15px !important;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    border: 0px;
    padding: 10px ;
    pointer-events: none;
}


.right-inner-addon-b {
    position: relative;
}
.right-inner-addon-b input {
    padding-right: 35px !important;
}
.right-inner-addon-b i {
    position: absolute;
    right: 0px;
    padding: 9px;
    pointer-events: none;
}

input {
       width: 100%;
		padding: 5px 10px 10px 10px !important;
		margin: 0em !important;
		box-sizing: border-box;
}
.icon-padding{
     margin-left: 70px;
}

