
      <div class="form-container">
        <div class="form-group ">
          <label for="" class="text-small text-muted">Corporate Name</label>
          <input type= "text"class="form-control" name="" id=""placeholder="Enter name here">
        </div>
        <div class="mt-1 ">
          <label for="" class="text-small text-muted">Email Address</label>
          <div class="right-inner-addon input-container">
            <i class="fas fa-phone"></i>
            <input type="text" class="form-control" placeholder="samsonjack@gmail.com" />
          </div>
        </div>
        <div class="mb-3">
           <label for="" class="text-small text-muted">Phone Number</label>
              <div class="input-group"> 
                  <select class="form-control w-10" name="" id="">
                      <option>+234</option>
                  </select>
                  <input type="text" aria-label="Last name" placeholder="08100000007" class="form-control input-w">
              
                  <span class="input-group-text w-10 icon-padding">
                   <i class="fas fa-envelope mr-3"></i>
                  </span>
              </div>
              </div>
      </div>