<div class="main-container">
    <div class="plan-container" *ngFor="let item of [1,1,1,1,1]">
      <div class="plan">
        <div class="plan-header">
            <p>PLATINUM</p>
        </div>
        <div class="plan-body">
            <div class="plan-subtitle">
                <p>5,000,000</p>
            </div>
            <div class="form-check mt-2" *ngFor="let item of [1,1,1,1,1]"> 
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                <small> Full Body Checkup Every 6 Month</small> 
              </label>
            </div>
        </div>
    </div>  
    
     <input type="radio" class="radio" name="" id=""> 
    </div>
   
</div>