
      <div class="form-container">
       <div>
        
            <div class="form-header d-flex justify-content-between">
              <small class="text-color-primary text-small">Select all</small>
              <div>
                <small class="text-color-primary">+ Add</small>
                <button type="button" class="btn btn-primary">Send link</button>
              </div>
            </div>
          <div class="row bg-danger">
            <div class="row">
              <div class="col-3">
                  <div class="form-group ">
                      <label for="" class="text-small text-bold-primary">First Name</label>
                      <input type= "text"class="form-control" name="" id=""placeholder="">
                    </div>
              </div>
              <div class="col-3">
                  <div class="form-group">
                      <label for="" class="text-small text-bold-primary">Last Name</label>
                      <input type= "text"class="form-control" name="" id=""placeholder="">
                    </div>
              </div>
              <div class="col-6">
                  <div class="form-group ">
                      <label for="" class="text-small text-bold-primary">Email Address</label>
                      <div class="right-inner-addon input-container">
                        <i class="far fa-envelope"></i>
                        <input type="text" class="form-control" placeholder="" />
                      </div>
                    </div>
                    
              </div>
          </div>
            
            <i class="fas fa-window-close mt-4 ml-4 text-danger"></i>
          </div>
   
            </div>
        
          </div>